.part1 > h2 {
    color: red;
}

.part1 > p {
    color: white;
    background-color: black;
}

.part2 > h2 {
    color: green;
}

.part2 > p {
    color: green;
    background-color: darkred;
}

.part3 {
    color: green;
}

.part4 > p {
    color: green;
}

.csym019 {
    display: block;
    float: left;
    width: 50%;
    background-color: lightskyblue;
}

.csym015 {
    display: block;
    float: left;
    width: 50%;
    background-color: yellow;
}

.one {
    display: block;
    float: left;
    width: 49%;
    background-color: red;
    border: solid yellow;
    
}
.two {
    display: block;
    float: left;
    width: 49%;
    background-color: orangered;
    border: solid orange;
}
.three {
    display: block;
    float: left;
    width: 49%;
    background-color: orange;
    border: solid orangered;
}
.four {
    display: block;
    float: left;
    width: 49%;
    background-color: yellow;
    border: solid red;
}